@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #0f0f12;
  color: white;
}

#root {
  width: 100%;
  height: 100%;
}

input:focus {
  outline: none;
}